---
import swedbankPayVerticalPng from "@swedbankpay/design-guide/src/img/swedbankpay/logo/swedbankpay-logo-v.png";
import swedbankPayVerticalSvg from "@swedbankpay/design-guide/src/img/swedbankpay/logo/swedbankpay-logo-v.svg";
import swedbankPayHorizontalPng from "@swedbankpay/design-guide/src/img/swedbankpay/logo/swedbankpay-logo-h.png";
import swedbankPayHorizontalSvg from "@swedbankpay/design-guide/src/img/swedbankpay/logo/swedbankpay-logo-h.svg";
import payexVertical from "@swedbankpay/design-guide/src/img/payex/logo/payex-logo-v.svg";
---
<h3>SwedbankPay</h3>
<p>SwP vertical png</p>
<img src={swedbankPayVerticalPng.src} alt="Swedbank Pay vertical logo" class="logotype-vertical logotype-sm" />
<p>SwP vertical svg</p>
<img src={swedbankPayVerticalSvg.src} alt="Swedbank Pay vertical logo" class="logotype-vertical logotype-sm" />
<p>SwP horizontal png</p>
<img src={swedbankPayHorizontalPng.src} alt="Swedbank Pay horizontal logo" class="logotype-horizontal logotype-sm" />
<p>SwP horizontal svg</p>
<img src={swedbankPayHorizontalSvg.src} alt="Swedbank Pay horizontal logo" class="logotype-horizontal logotype-sm" />
<h3>PayEx</h3>
<img src={payexVertical.src} alt="PayEx vertical logo" class="logotype-vertical logotype-sm" />



